<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/my.css">
<link href="../../static/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../static/owl-carousel/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
<link href="../../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="../../static/js/jquery-2.1.1.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="row" style="height:40px;background-color:white">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="height:40px"><a href="../../index"><img src="../../static/img/title.jpg"
            style="margin-top:5px;height:30px;width:160px" /></a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1 leave" name="mytype"><span align="center">A&Q</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">news</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">shows</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">jobs</span></div>
                    <div class="col-md-4" style="margin-top:10px;font-size:1.2em"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div style="width:100%;background-color:white">
            <div style="width:100%" >
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div style="width:100%" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                            </ol>
                            
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img  src="../../static/img/test.png" style="height:300px;width:100%" alt="First slide">
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test2.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test3.png" style="height:300px;width:100%" alt="Third slide">
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test4.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test5.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test6.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                                <div class="item">
                                    <img src="../../static/img/test7.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                            </div>
                            
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div><!-- /carousel -->
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div style="height:50px"></div>
        
        <div class="row">
            <div class = "col-md-2"></div>
            <div class = "col-md-8">
                <div>
                    <h2 href="{{entry.url}}">{{entry[0].title}}</h2>
                </div>
                    <div style="margin-right:0px;">{{entry[0].byauthor}}</div>
                    <div style="margin-right:0px;">{{entry[0].time}}</div>
                <div style="margin-top:20px;font-size:15px;text-indent:35px">
                    {{entry[0].text}}
                </div>
                <div style="margin-top:40px;font-size:16px"><b>Comments:</b></div>
                {% for item in entry[1:] %}
                <hr />
                <div class="row">
                    <div class ="col-md-1">
                        <img style="float:right;height:40px" src="../../static/img/ava-{{item.numid}}.jpg" class="img-circle"/>
                    </div>
                    <div class ="col-md-11">
                        <b style="color:#4FC3F7;font-size:1.2em">{{item.commentauthor}}</b>
                        <div>
                        <span  class="rating">
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star-half-o"></i>
					    </span>
                        </div>
                        <div style="color:rgb(100,100,100)">
                            {{item.commenttext}}
                        </div>
                    </div>
                
                </div>
                {% endfor %}

                <hr />
            <div class="box">
            <center>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/content/{{entry[0].id}}/1">1</a></li>
                    <li><a href="/content/{{entry[0].id}}/2">2</a></li>
                    <li><a href="/content/{{entry[0].id}}/3">3</a></li>
                    <li><a href="/content/{{entry[0].id}}/4">4</a></li>
                    <li><a href="/content/{{entry[0].id}}/5">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </center>
        </div>
            </div>
            <div class = "col-md-2"></div>
       
       </div>


	<script src="../../static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo-1").owlCarousel({
        autoPlay: 3000,
        items : 1,
        itemsDesktop : [1199,1],
        itemsDesktopSmall : [400,1]
      });
    });
    </script>
    <script type="text/javascript">
        window.onload = function(){
            var arr = document.getElementsByName('mytype');
            for(var i = 0;i<arr.length;i++){
                arr[i].onmouseover = function(){
                    this.className = 'col-md-1 over';
                }
                arr[i].onmouseout = function(){
                    this.className = 'col-md-1 leave';
                }
            }
        }
    </script>
    </body>
</html>