<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/my.css">
<link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
<link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="../static/js/chart.js"></script>
</head>
<body>
    <div class="row" style="height:40px;background-color:white">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="height:40px"><a href="index.html"><img src="../static/img/title.jpg"
            style="margin-top:5px;height:30px;width:160px" /></a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1 leave" name="mytype"><span align="center">Q&A</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">news</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">shows</span></div>
                    <div class="col-md-1 leave" name="mytype"><span align="center">jobs</span></div>
                    <div class="col-md-4" style="margin-top:10px;font-size:1.2em"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div style="width:100%;background-color:white">
            <div style="width:100%" >
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div style="width:100%" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            </ol>
                            
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img  src="../static/img/wordcloud1.jpg" style="height:300px;width:100%" alt="First slide">
                                        </div>
                                <div class="item">
                                    <img src="../static/img/wordcloud2.png" style="height:300px;width:100%" alt="Second slide">
                                        
                                        </div>
                            </div>
                            
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div><!-- /carousel -->
                    </div>
                </div>
            </div>
        </div>
        
        <div style="height:50px"></div>
        <div style="display:none" id ="haha">64;29;6;90;7;2;55;44;0;61;38;0;56;43;0;43;52;4;56;41;2;62;36;1;69;29;1;44;51;3;</div>
        <div class="row">
            <div class = "col-md-2"></div>
            <div class = "col-md-8">
            <table  class ="table table-hover">
                {% for entry in entries %}
                <tr>
                    <td style="width:10%">
                        <div  rel="drevil" name="article" id="{{entry.num}}">
                        <svg style = "width:20px;height:20px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                           <circle name="circle" class="nonfull" />
                        </svg>
                        </div>
                    </td>
                    <td><a href="../content/{{entry.id}}/1" style="color:rgb(100,100,100)"> {{entry.title|safe}}</a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="box">
            <center>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/index/1">1</a></li>
                    <li><a href="/index/2">2</a></li>
                    <li><a href="/index/3">3</a></li>
                    <li><a href="/index/4">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </center>

        </div>
            </div>
            <div class = "col-md-2"></div>
       
       </div>

    <script>
$(function(){
	$("[rel=drevil]").popover({
	            trigger:'manual',
	            placement : 'left', //placement of the popover. also can use top, bottom, left or right
	           //this is the top title bar of the popover. add some basic css
	            html: 'true', //needed to show html of course
	            content : '<div id="test" style="width:180px;height:170px;opacity:0.85;"></div>', //this is the content of the html box. add the image here or anything you want really.
	            animation: false
	        }).on("mouseenter", function () {
	                    var _this = this;
	                    $(this).popover("show").on("mouseover",function(){
	                        load(index);
                        })
	                    $(this).siblings(".popover").on("mouseleave", function () {
	                        $(_this).popover('hide');
	                    }
	                    );
	                }).on("mouseleave", function () {
	                    var _this = this;
	                    setTimeout(function () {
	                        if (!$(".popover:hover").length) {
	                            $(_this).popover("hide")
	                        }
	                    }, 100);
	                });

})

</script>
    <script src="../static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo-1").owlCarousel({
        autoPlay: 3000,
        items : 1,
        itemsDesktop : [1199,1],
        itemsDesktopSmall : [400,1]
      });
    });
    </script>
    <script type="text/javascript">
        var index = 0;
        var data = new Array();
        for(var i = 0;i<10;i++){
            data[i] = new Array();
        }
    window.onload = function(){
        var str = '';
        var row = 0;
        var col = 0;
        var arr = document.getElementById('haha');
        var d = arr.innerHTML.toString();
        alert(d);
        for(var i = 0;i < d.length;i++) {
            var ch = d[i];
            if (ch == ';') {
                data[row][col] = str;
                if (col == 2) {
                    col = 0;
                    row++;
                }
                else col++;
                str = '';
            }
            else {
                str = str + ch;
            }
        }
        
        var arr2 = document.getElementsByName('article');
        alert(arr2.length);
        for (var i = 0; i < arr2.length; i++) {
            arr2[i].onmouseover = function(){
//                alert(this.id);
                index = parseInt(this.id);
                alert(index);
            }
        }
        alert(data[0][0]);
    }
    </script>
    </body>
</html>